@layer utilities {
  .marker-red {
    background-color: hsl(var(--marker-red) / 0.3);
  }

  .marker-orange {
    background-color: hsl(var(--marker-orange) / 0.3);
  }

  .marker-yellow {
    background-color: hsl(var(--marker-yellow) / 0.3);
  }

  .marker-blue {
    background-color: hsl(var(--marker-blue) / 0.3);
  }

  .marker-white {
    background-color: hsl(var(--marker-white) / 0.3);
  }
}
